.form {
  background-color: rgb(241, 241, 241);
  opacity: 0.9;
  width: 35%;
  margin: 30px auto;
  padding: 70px 20px 20px 0px;  
  border: solid 1px black;
  height: 500px;
  position: relative;
}
.button{
  margin-right: 10px;
  animation-name: text;
  animation-duration: 2s;
}
.closeBtn{
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  right: 3px;
  top: 0;
}

.loginPage{
  text-align: center;
}
.welcome{
  font-size: 40px;
  margin-top: 35px;
  animation-name: text;
  animation-duration: 2s;
}

@keyframes text {
  from {opacity:0}
  to {opacity:1}
}